# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

src/test/resources/testLibs/**

/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

#Gradle build output
build/